<p id="notice"><%= notice %></p>

<div class="app-content content">
  <div class="sidebar-left sidebar-fixed">    
    <div class="sidebar-content card d-none d-lg-block">
    <div class="card-body">
        <fieldset class="form-group position-relative has-icon-left m-0">
            <input id="search-nodata" class="form-control" name="search-nodata" placeholder="Search User" type="text" data-list=".nodata_list" autocomplete="off">
            <div class="form-control-position">
                <i class="ft-search"></i>
            </div>
        </fieldset>     
    </div>
    <div id="users-list" class="list-group position-relative">
        <div class=" media-list">
            <ul class="vertical nodata_list">
          <% current_user.chats.each do |chat| %>
              <% last_message  = chat.messages.order('created_at ASC').last if not chat.messages.blank? %>
              <% other_user = chat.chat_subscribers.select{|c| c.subscriber!= current_user}.first.subscriber %>
             <li class="li-style">
                 <a href="<%= chat_path(chat) %>" class="media border-0 <%= chat.id==@chat.id ? "active":"" %>">
                <div class="media-left pr-1">
                    <span class="avatar avatar-md avatar-<%= other_user.online ? "online":"off"%>"><img class="media-object rounded-circle" src="/avatar.png" alt="Avatar">
                    <i></i>
                    </span>
                </div>
                <div class="media-body w-100">
                    <h6 class="list-group-item-heading"><%= other_user.fullname %> <small class="text-muted font-small-3 float-right primary"><%= time_ago_in_words(last_message.created_at)+ " ago" if last_message %> </small></h6>
                    <p class="list-group-item-text text-muted mb-0"><i class="ft-check primary font-small-2"></i> <%= last_message.content if last_message %> <span class="float-right primary"><i class="font-medium-1 icon-pin blue-grey lighten-3"></i></span></p>
                </div>
            </a></li>
            
           <% end %>
           </ul>
          </div>
        </div>
      </div>    
    </div>
    <% recipient = @chat.chat_subscribers.select{|c| c.subscriber!= current_user}.first.subscriber %>
    <div class="content-right">
        <div class="content-wrapper">
            <div class="content-body">
                <div class="chat-name">
                    <h3><%= recipient.fullname %></h3>
                </div>
            <section class="chat-app-window">
            <div class="chats" id="messages" data-chat_id=<%= @chat.id %>>
            <% @messages.each do |message| %>
                <div class="chat<%= (message.sender!=current_user) ? " chat-left":"" %>">
                    <%= render partial: 'chat_engine/messages/message',locals:{message: message} %>
                </div>
            <% end %>
                <%#= render @messages %>
            </div>
            </section>
            
            <%= render 'chat_engine/messages/form' %>
            
        </div>
        </div>
    </div>
</div>

